h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.line {
  margin: 10px 0;
  width: 150px;
  height: 5px;
  background-color: coral;
}

.introduce_joyEdu {
  margin-top: 120px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curriculum_joyEdu {
  margin-top: 50px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curriculum_box_joyEdu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curriculum_content_joyEdu {
  margin: 50px 30px;
  width: 300px;
  height: 400px;
  background-color: darkslateblue;
}
